*~
aclocal.m4
autom4te.cache
compile
configure
install-sh
missing
Makefile.in
Makefile
test/check_store
src/wabi
config.h
config.h.in
config.log
config.status
configure.scan
autoscan.log
depcomp
.deps
*.o
*.la
stamp-h1
test-driver
test/*.log
test/*.trs
wabi-*