*~

test/check_store
src/wabi
aclocal.m4
autom4te.cache
Makefile.in
config.h
config.h.in
config.log
config.status
configure.scan
autoscan.log
depcomp
.deps
*.o
*.la
test-driver
test/*.log
test/*.trs
wabi-*