*~
Makefile
depcomp
.deps
test-driver
autom4te.cache
config.h
config.log
config.status
stamp-h1
autoscan.log
config.*
configure.scan
ltmain.sh
m4/*

src/*.o
src/wabi

test/*.o
test/check_store
test/*.log